html {
    background-color: aliceblue;
}

#head {
    background-color: wheat;
    height: 200px;
    max-width: 550px;
}

.navbar-nav{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
    padding-right: 45px;
}

.container-fluid {
    background-color: rgba(51, 56, 56, 1);
}

#custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 19px;
    background-color: rgba(51, 56, 56, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(204, 204, 204, 1);
    background-color: rgba(51, 56, 56, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(22, 26, 26, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a {
    color: rgba(255, 255, 255, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover {},
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(51, 56, 56, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #333838;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #333838;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #333838;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #333838;
}

/* Posts*/

#content-header{
    text-align: center;
}

#post-date{
    text-align: center;
    font-style: italic;
}

#post {
    font-size: 18px;
    color: black;
    max-width: 630px;
    padding-bottom: 10px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*add new post*/
#textarea {
    width: 650px;
    height: 300px;
}